  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  * {
    box-sizing: border-box;
    /*since new nav*/
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
  }

  a {
    color: rgb(5, 10, 82);/*#00b99f;*/
    transition: transform 150ms ease-out;
  }
  a:active {
    color: #1a83ff;/*#dc9f16;*/
  }
  blockquote {
    margin:20px 0;
    padding-left:1.5rem;
    border-left:5px solid #1d4b1b
  }
  
  .main-container {
    max-width: 900px;
    margin: 10px auto;
    padding: 0 20px;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.07);
  }

  .SideNav {
    background-color: rgb(255, 255, 255);
    box-sizing: content-box;
    left: 0;
    height: 489px;
    width: 200px;
    /* min-height: fit-content; */
    top: 0;
    z-index: 1;
    position:fixed;
    padding: 10px;
    padding-top: 10px;
    padding-right: 0px;
    margin-right: 0px;
    align-items: left;
    justify-content:space-between;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.07),
      3px -3px 7px 1px rgba(0, 0, 0, 0.07);
  }

  .TopNav{
    background-color: rgb(255, 255, 255);
    box-sizing: content-box;
    position: relative;
    padding: 15px 0;
    z-index: 1;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.07),
      3px -3px 7px 1px rgba(0, 0, 0, 0.07);
    top: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
  }

  .SideNav ul{
    list-style-type: none;
    overflow: hidden;
    text-align: left;
    /* padding-right: 0px;/*20px;
    padding-left: 0;
    padding-bottom: 10px; */
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    /* margin-right: 0px; */
  }

  .SideNav li{
    display: inline-block;
  }

  .side-nav-item a{
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    padding: 13px 15px;
    min-width: 165px;
    color: rgb(5, 10, 82);
    transition: 0.2s;
  }
  
  .side-nav-item:hover a{
    text-decoration: none;
    color: rgb(0, 60, 255);
    font-weight: bold;
    border-left:rgb(5, 10, 82) solid 6px;
    box-shadow: 3px 3px 7px 1px rgba(5, 3, 102, 0.425);
  }

  .side-nav-item a.active{
    font-weight: bold;
  }

  .side-nav-home{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 450; */
    font-weight: 200;
    color:rgb(27, 27, 160);
    font-size:32px;
    text-align: center;
    letter-spacing: .1rem;

    line-height: 100%;
  }

  .side-nav-home span{
    font-size: 12px;
  }

  .side-nav-logo{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    min-height: 90px;
    padding: 30px 30px 30px;
  }

  .side-nav-logo h1{
    font-size: 4.2rem;
    line-height: 4.62rem;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 400;
  }

  .side-nav-home:hover{
    text-decoration: none;
  }

  .side-nav-home:active{
    color:rgba(27, 27, 160, 0.486);
  }

  .navimg {
    border: 0;
    height: 50px;
    width: 50px;
  }

  .name-title{
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    position: relative;
  }
  .name-title a{
    display: block;
    font-size: 22px;
  }

  .blue-text{
    color: rgb(27, 27, 160);
  }
  .green-text{
    color:#1d4b1b;
  }

  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

@media (max-width : 767px){
  .hide_on_small {
    display: none !important;
  }
}

@media (min-width: 768px){
  .main-container_margin {
    margin-left: 250px;
  }
  .hide_on_large{
    display: none !important;
  }
}