  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    color: rgb(5, 10, 82);
    transition: transform 150ms ease-out;
  }
  a:active {
    color: #1a83ff;
  }
  blockquote {
    margin:20px 0;
    padding-left:1.5rem;
    border-left:5px solid #1d4b1b
  }
  
  .main-container {
    margin: 10px auto;
    padding: 0 5% 50px;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.07);
  }

  .SideNav {
    background-color: rgb(255, 255, 255);
    box-sizing: content-box;
    left: 0;
    height: 560px; 
    width: 200px;
    top: 0;
    z-index: 1;
    position:fixed;
    padding: 10px;
    padding-top: 10px;
    padding-right: 0px;
    margin-right: 0px;
    align-items: left;
    justify-content:space-between;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.07),
      3px -3px 7px 1px rgba(0, 0, 0, 0.07);
  }

  .TopNav{
    background-color: rgb(255, 255, 255);
    box-sizing: content-box;
    position: relative;
    padding: 15px 0;
    z-index: 1;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.07),
      3px -3px 7px 1px rgba(0, 0, 0, 0.07);
    top: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
  }

  .SideNav ul{
    list-style-type: none;
    overflow: hidden;
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
  }

  .SideNav li{
    display: inline-block;
  }

  .side-nav-item a{
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    padding: 13px 15px;
    min-width: 200px;
    color: rgb(5, 10, 82);
    transition: 0.2s;
  }
  
  .side-nav-item:hover a{
    text-decoration: none;
    color: rgb(0, 60, 255);
    font-weight: bold;
    border-left:rgb(5, 10, 82) solid 6px;
    box-shadow: 3px 3px 7px 1px rgba(5, 3, 102, 0.425);
  }

  .side-nav-item a.active{
    font-weight: bold;
  }

  .side-nav-home{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color:rgb(27, 27, 160);
    font-size:32px;
    text-align: center;
    letter-spacing: .1rem;

    line-height: 100%;
  }

  .side-nav-home span{
    font-size: 12px;
  }
  
  .side-nav-item span{
    margin-left: 16px;
}

  .side-nav-logo{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    min-height: 90px;
    padding: 30px 30px 30px;
  }

  .side-nav-logo h1{
    font-size: 4.2rem;
    line-height: 4.62rem;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 400;
  }

  .side-nav-home:hover{
    text-decoration: none;
  }

  .side-nav-home:active{
    color:rgba(27, 27, 160, 0.486);
  }

  .navimg {
    border: 0;
    height: 100%;
    width: 100%;
  }

  .name-title{
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    position: relative;
  }
  .name-title a{
    display: block;
    font-size: 22px;
  }

  .blue-text{
    color: rgb(27, 27, 160);
  }
  .green-text{
    color:#1d4b1b;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
  }

  .cgskills{
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 3rem;
    align-items: flex-start;
    display: grid;
  }

  .cardHeader.card-image{
    padding: 0;
    overflow: hidden;
  }

  .cardHeader.card-image > img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    max-height: 200px;
    object-position: center;
    transition: 200ms transform ease-in-out;
  }

  .card:hover > .cardHeader.card-image > img{
    transform: scale(1.025);
  }

  .card{
    background: white;
    --padding: 1rem;
    /* border: 1px solid #777; */
    border: none;
    box-shadow: 3px 3px 7px 1px rgba(5, 3, 102, 0.425);
    border-radius: .25rem;
    /* max-width: 300px; */
    overflow: hidden;
  }

  .cardHeader{
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
  }

  .cardFooter{
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
    margin: 20px 0;
  }

  .cardBody{
    font-size: .9rem;
    padding: 0 var(--padding);
  }

  .cardBody ul{
    padding: 0 20px;
  }

  label, input, textarea {
    display: block;
  }
  
  .submitButton {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .submitButton:hover{
    text-decoration: none;
  }

  .contactContainer{
    border-radius: 5px;
    background-color: #f0f0f060;
    padding: 20px;
  }

  .contactInput, select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }

  textarea {
    height: 200px;
  }

  .msgSent{
    float:right;
    margin-right: 45%;
  }

  .submitButton:hover {
    background-color: #45a049;
  }

  .bodyGrid{
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    /* font: 500 100%/1.5 system-ui; */
  }

  .homeGreeting{
    display: inline-block;
    overflow: auto;
    margin-right: 10px;
  }

  .homeHeader{
    grid-column: 1/3;
  }

  .portrait{
    float: left;
    clear: both;
    margin-left: 0px;
  }

  .column {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
    width: 16.66667%;
    margin: 1rem;
  }

  .column.offset{
    margin-left: 16.66667%;
  }

  .row{
    margin-left:-0.75rem;
    margin-right:-0.75rem;
  }

  .text-center {
    text-align: center;
  }

  .skillImg {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    transition: transform 180ms ease-out;
  }

  .skillImg:hover {
    transform: scale(1.01) rotateZ(2deg);
  }

  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

@media (max-width : 767px){
  .hide_on_small {
    display: none !important;
  }

  .homeGreeting{
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(231, 231, 235, 0.877);
  }

  .bodyGrid{
    display: block;
    font-size: 80%;
  }
}

@media (min-width: 768px){
  .main-container_margin {
    margin-left: 250px;
  }
  .hide_on_large{
    display: none !important;
  }
}